{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
<section>
    {% if next %}
        {% if user.is_authenticated %}
            <p>Votre compte n'a pas accès à cette page. Pour continuer, veuillez vous connecter avec un compte qui a accès.</p>
        {% else %}
            <p>Veuillez vous connecter pour voir cette page.</p>
        {% endif %}
    {% endif %}

    <h1 class="regilog-title">Se connecter</h1>
    {% if form.errors %}
        <p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
    {% endif %}
    <div class="regilog-form">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nom d'utilisateur">
            <input type="password" name="password" placeholder="Mot de passe">
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="Connexion">
        </form>
    </div>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    <p><a href="{% url 'django_registration_register' %}">Register</a></p>
</section>
