{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <h1>Articles</h1>
        <div class="flex-card">
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="inner">
                    <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">16/02/2020</p>
                        <p class="titre">Sauvetage risqué en côte d'Ivoire</p>
                        <a class="btn" href="">Voir l'article</a>
                    </div>
                </div>
            </div>
            <a class="btn btn--blue" href="">Charger plus d'articles</a>
        </div>
    </section>
    {% include 'quicksearch.html' %}
{% endblock %}