{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Les sauveteurs du Dunkerquois</h1>
    <section>
        <h2>Carte dynamique</h2>
        <img class="map" src="{% static 'images/map.png' %}">
    </section>
    <section>
        <h2>Articles récents</h2>
        <div class="flex-card">
            {% for rescue in rescues %}
                <div class="card">
                    <div class="inner">
                        <div class="img-container">
                        <img src="{% static 'images/sauvetage.png' %}">
                    </div>
                    <div class="content">
                        <p class="date">{{ rescue.date }}</p>
                        <p class="titre">{{ rescue.name }}</p>
                        <a class="btn" href="/a/{{ rescue.pk }}">Voir l'article</a>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {% include 'quicksearch.html' %}
{% endblock %}