{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js/script.js' %}"></script>
    {{ form.media }}
</head>

<body>
    {% include 'quicksearch.html' %}
    <nav>
        <div class="left">
            <a href="/" class="logo">LSDD</a>
            <div class="submenu">
                <a href="/a/">Sauvetages</a>
                <a href="/p/">Personnes</a>
                <a href="/b/">Bateaux</a>
            </div>
        </div>
        <div class="right">
            <a href="#quicksearch"><i class="material-icons search">search</i></a>
            <img src="{% static 'images/pesquet.jpg' %}">
        </div>
    </nav>
    <div class="container">
        <h1>Ajouter un article</h1>
        <form class="article-form" action="/a/submit/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Ajouter">
        </form>
    </div>
</body>
